.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 10px;
  row-gap: 10px;

}

@media screen and (max-width: 480px) {
  .wrapper {
    grid-template-columns: 1fr;
  }
}

.wrapper-home {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  column-gap: 10px;
  row-gap: 10px;

}

@media screen and (max-width: 480px) {
  .wrapper-home {
    grid-template-columns: 1fr;
  }
}
